services:
  redis:
    image: redis:7-alpine
    container_name: dearwith-backend-redis
    restart: always
    command: [
      "redis-server",
      "--appendonly", "yes",
      "--requirepass", "${SPRING_REDIS_PASSWORD}"
    ]
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "${SPRING_REDIS_PASSWORD}", "PING"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    image: ninny9988/dearwith-be:latest
    container_name: dearwith-backend-app

    mem_limit: 1024m

    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      SPRING_MAIL_USERNAME: ${MAIL_USERNAME}
      SPRING_MAIL_PASSWORD: ${MAIL_PASSWORD}
      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: 6379
      SPRING_REDIS_PASSWORD: ${SPRING_REDIS_PASSWORD}
    entrypoint: java -Xms256m -Xmx512m -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/app/logs -jar app.jar
    depends_on:
      - redis
    restart: always
    volumes:
      - /home/ec2-user/app/logs:/app/logs

volumes:
  redis-data: